<!DOCTYPE html>
<html lang="en" data-theme="custom3">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<!-- <meta
			http-equiv="Content-Security-Policy"
			content="default-src 'self'; script-src 'self'"
		/> -->
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>

